@font-face {
    font-family: "vazir";
    src: url("../fonts/vazir.eot") format("eot");
    src: url("../fonts/vazir.ttf") format("truetype"), url("../fonts/vazir.woff") format("woff"), url("../fonts/vazir.woff") format("woff2");
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

body {
    font-family: "vazir";
    overflow-x: hidden;
}

input,
textarea,
button {
    font-family: "vazir";
}

.container {
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align-items {
    justify-content: space-between;
    align-items: center;
}

.mt-5 {
    margin-top: 60px;
}

.title {
    margin-bottom: 2rem;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
}

.title h2 {
    font-size: 3rem;
    position: relative;
    padding-bottom: 10px;
}

.title h2::before {
    content: "";
    position: absolute;
    right: 50%;
    width: 5rem;
    height: 0.2rem;
    background: #d84315;
    bottom: 0;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

.title p {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* header */
header {
    width: 100%;
    border-bottom: 1px solid #474747;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

header .navbar {
    display: flex;
}

header .navbar ul {
    display: flex;
}

header .navbar ul li {
    margin-left: 35px;
}

header .navbar ul li a {
    font-size: 1.8rem;
    line-height: 72px;
    color: #fff;
    position: relative;
    display: block;
    z-index: 1;
}

header .navbar ul li a.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #fff;
}

header .brand-name .logo {
    font-size: 2.5rem;
    color: #fff;
    position: relative;
}

header .brand-name .logo::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    bottom: 0;
}

.fixed {
    position: fixed;
    background: #fff;
    z-index: 1;
    animation: headerFix 1s ease;
    -webkit-animation: headerFix 1s ease;
}

@keyframes headerFix {
    0% {
        opacity: 0;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
}

.fixed .navbar ul li a {
    color: #333;
}

.fixed .navbar ul li a.active::before {
    background: #d84315;
}

.fixed .brand-name .logo {
    color: #333;
}

/* home */

.home {
    background: url("../images/3.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
}

.home .home-content {
    flex: 0 0 100%;
    max-width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 0 20px;
}

.home .home-content::before {
    content: "";
    position: absolute;
    right: 0;
    width: 5px;
    height: 300px;
    background: #d84315;
}

.home .home-content h6 {
    color: #fff;
    font-size: 2rem;
}

.home .home-content h1 {
    font-size: 7rem;
    color: #fff;
    margin: 10px 0;
}

.home .home-content .btn {
    margin-top: 25px;
}

.home .home-content .btn a {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 15px;
    font-size: 2rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* about */

.about {
    padding: 120px 0;
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
}

.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.about .about-content .about-img {
    flex: 0 0 calc(33.33% - 15px);
    max-width: calc(33.33% - 10px);
}

.about .about-content .about-img img {
    width: 100%;
}

.about .about-content .about-description {
    flex: 0 0 calc(66.66% - 15px);
    max-width: calc(66.66% - 10px);
}

.about .about-content .about-description h2 {
    font-size: 3.8rem;
}

.about .about-content .about-description h4 {
    font-size: 2.2rem;
    margin-top: 10px;
}

.about .about-content .about-description h4 span {
    color: #d84315;
}

.about .about-content .about-description > p {
    font-size: 1.7rem;
    margin-top: 25px;
}

.about .about-content .about-description .info {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-between;
}

.about .about-content .about-description .info .info-item {
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
    display: flex;
    align-items: center;
    margin-top: 30px;
    border-bottom: 1px solid #dadada;
    padding-bottom: 15px;
}

.about .about-content .about-description .info .info-item label {
    font-size: 1.5rem;
}

.about .about-content .about-description .info .info-item p {
    font-size: 1.5rem;
    color: #979797;
    margin-right: 10px;
}

.about .about-content .about-description .social {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;

    margin-top: 40px;
}

.about .about-content .about-description .social ul {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-description .social ul li {
    margin-left: 10px;
}

.about .about-content .about-description .social ul li a svg {
    color: #fff;
    background: #000;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

/* services */

.services {
    background: #f1f1f1;
    padding: 120px 0;
    display: flex;
}

.services .service-item {
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    padding: 3rem;
    text-align: center;
    background: #fff;
    margin-top: 30px;
    position: relative;
}

.services .service-item::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background: #d84315;
    bottom: 0;
    margin: auto;
    right: 0;
    left: 0;
}

.services .service-item .icon svg {
    background: #d84315;
    width: 4.5rem;
    height: 4.5rem;
    padding: 1rem;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    color: #fff;
}

.services .service-item h4 {
    font-size: 1.6rem;
    padding: 10px 0;
}

.services .service-item p {
    font-size: 1.5rem;
    line-height: 30px;
    color: rgb(73, 73, 73);
    margin-top: 15px;
}

/* skill */

.skill {
    padding: 120px 0;
    width: 100%;
    display: flex;
}

.skill .skill-description {
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
}

.skill .skill-description .progress-bar {
    margin-top: 50px;
}

.skill .skill-description .progress-bar .skill-progress {
    width: 100%;
    margin-bottom: 30px;
}

.skill .skill-description .progress-bar .skill-progress h3 {
    font-size: 1.5rem;
    text-align: left;
}

.skill .skill-description .progress-bar .skill-progress .skill-box {
    width: 100%;
    height: 5px;
    background: #d8d8d8;
    position: relative;
}

.skill .skill-description .progress-bar .skill-progress .skill-box .skill-bar {
    background: #d84315;
    height: 100%;
    position: absolute;
    left: 0;
}

.skill .skill-description .progress-bar .skill-progress .skill-box .skill-bar span {
    position: absolute;
    top: -20px;
    color: gray;
    font-size: 1.3rem;
}

.skill .skill-img {
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
    display: flex;
    justify-content: flex-end;
}

.skill .skill-img img {
    width: 80%;
}

/* portfolio */

.postfolio {
    padding: 120px 0;
    background: #f8f8f8;
    display: flex;
}

.postfolio .tab-menu {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 50px;
}

.postfolio .tab-menu ul {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.postfolio .tab-menu ul li {
    color: #000;
    margin: 0 1rem;
    font-size: 1.7rem;
    cursor: pointer;
    padding-bottom: 10px;
}

.postfolio .tab-menu ul li.active {
    color: #d84315;
    border-bottom: 2px solid #d84315;
}

.postfolio .portfolio-gallery {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 650px;
}

.postfolio .portfolio-gallery .item {
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    margin-top: 30px;
    height: 300px;
}

.postfolio .portfolio-gallery .item .inner {
    width: 100%;
    height: 100%;
    position: relative;
}

.postfolio .portfolio-gallery .item .inner img {
    height: 300px;
    width: 100%;
}

.postfolio .portfolio-gallery .item .inner .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.postfolio .portfolio-gallery .item:hover .inner .overlay {
    opacity: 1;
}

.postfolio .portfolio-gallery .item .inner .overlay span {
    color: #fff;
    transform: translateY(150px);
    -webkit-transform: translateY(150px);
    -moz-transform: translateY(150px);
    -ms-transform: translateY(150px);
    -o-transform: translateY(150px);
    transition: all 0.3s ease-in-out;
}

.postfolio .portfolio-gallery .item .inner .overlay span svg {
    background: #d84315;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

.postfolio .portfolio-gallery .item .inner .overlay h3 {
    color: #fff;
    font-size: 1.7rem;
    margin-top: 0.5rem;
    transform: translateY(150px);
    -webkit-transform: translateY(150px);
    -moz-transform: translateY(150px);
    -ms-transform: translateY(150px);
    -o-transform: translateY(150px);
    transition: all 0.3s ease-in-out;
    transition-delay: 0.1s;
}

.postfolio .portfolio-gallery .item:hover .inner .overlay h3,
.postfolio .portfolio-gallery .item:hover .inner .overlay span {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

/* lightbox */

.lightbox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.show {
    display: flex;
}

.hide {
    display: none;
}

.lightbox span {
    position: absolute;
    color: #fff;
    left: 20px;
    top: 20px;
    width: 40px !important;
    height: 40px;
    background: #d84315;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightbox span svg {
    font-size: 20px;
}

/* message */

.message-box {
    width: 100%;
    background: url("../images/bg-message.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-box .message-description {
    color: #fff;
    font-size: 2rem;
    flex: 0 0 70%;
    max-width: 70%;
}

.message-box .message-link {
    color: #fff;
    font-size: 1.7rem;
    flex: 0 0 30%;
    max-width: 30%;
    text-align: center;
}

.message-box .message-link a {
    color: #fff;
    border: 2px solid #fff;
    padding: 7px 10px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.message-box .message-link a:hover {
    background: #fff;
    color: #000;
}

/* customer */

.customer {
    width: 100%;
    background: url("../images/bg-customer-two.svg");
    background-size: cover;
    padding: 120px 0;
    background-position: center;
}

.customer .title {
    color: #fff;
}

.customer .cusotmer-slider {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 100px;
}

.customer .cusotmer-slider .customer-item {
    flex: 0 0 30%;
    max-width: 30%;
    display: none;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.customer .cusotmer-slider .customer-item.active {
    display: flex;
}

.customer .cusotmer-slider .customer-item .caption {
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    animation: text 1s ease forwards;
    -webkit-animation: text 1s ease forwards;
    opacity: 0;
}

@keyframes text {
    0% {
        transform: translateX(100px);
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        opacity: 1;
    }
}

.customer .cusotmer-slider .customer-item .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.customer .cusotmer-slider .customer-item .img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.customer .cusotmer-slider .customer-item .img h2 {
    color: #fff;
    font-size: 1.7rem;
    margin-top: 10px;
}

.customer .cusotmer-slider .customer-item .img h6 {
    color: rgb(231, 231, 231);
    font-size: 1.2rem;
    margin-top: 10px;
}

.customer .container {
    position: relative;
}

.customer .controls {
    position: absolute;
    top: 65%;
    width: 100%;
}

.customer .controls .prev {
    left: 0;
    position: absolute;
}

.customer .controls .prev svg,
.customer .controls .next svg {
    font-size: 3.5rem;
    color: #d84315;
    cursor: pointer;
}

/* blogs */
.blogs {
    width: 100%;
    padding: 120px 0;
    background: #f8f8f8;
}

.blogs .blog-content {
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    background: #fff;
    overflow: hidden;
}

.blogs .blog-content img {
    width: 100%;
    height: 300px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.blogs .blog-content:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.blogs .blog-content .blog-description {
    padding: 1rem;
}

.blogs .blog-content .blog-description h2 {
    font-size: 1.7rem;
}

.blogs .blog-content .blog-description .blog-info {
    margin: 8px 0;
    color: #6e6e6e;
}

.blogs .blog-content .blog-description .blog-info span {
    margin-left: 1rem;
    font-size: 1.1rem;
}

.blogs .blog-content .blog-description .blog-info span svg {
    margin-left: 0.5rem;
}

.blogs .blog-content .blog-description p {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.blogs .blog-content .blog-description a {
    color: #d84315;
    border-bottom: 1px solid #d84315;
    font-size: 1.3rem;
    margin-top: 10px;
    padding-bottom: 7px;
}

/* contact */

.contact {
    padding: 120px 0;
}

.contact form {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 50px 0;
    text-align: center;
}

.contact form .input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact form .input-group input {
    width: calc(33.33% - 20px);
    padding: 10px 5px;
    border: 1px solid #e4e4e4;
    font-size: 1.5rem;
}

.contact form textarea {
    width: 100%;
    margin-top: 30px;
    border: 1px solid #e4e4e4;
    resize: none;
    height: 25rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.contact form input[type="submit"] {
    color: #fff;
    background: #d84315;
    border: 0.2rem solid #d84315;
    width: 30rem;
    margin-top: 3rem;
    font-size: 1.7rem;
    padding: 7px 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.contact form input[type="submit"]:hover {
    background: transparent;
    color: #000;
    cursor: pointer;
}

.footer {
    background: url("../images/footer.svg");
    padding: 120px 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    position: relative;
}

.footer .footer-about {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 100%;
    max-width: 100%;
}

.footer .footer-about h3 {
    color: #fff;
    font-size: 1.8rem;
}

.footer .footer-about p {
    color: #fff;
    font-size: 1.6rem;
    margin-top: 1.5rem;
}

.footer ul {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.footer ul li a {
    color: #fff;
    margin: 0 15px;
    display: block;
    font-size: 2.2rem;
}

.footer .copy-right {
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 1.5rem;
    width: 100%;
    right: 0;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #b4b4b4;
}
